# Logs & caches
*.log
npm-debug.log*
yarn-debug.log*

# OS Files
.DS_Store
Thumbs.db
desktop.ini

# IDE & Editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Scratch & temp files
tmp/
temp/
